<ul class="services">
  <% servicesData.forEach(service => { %>
  <li class="service service_header_off">
    <img class="service__img" src="<%= service.iconPath %>" alt="<%= service.name %>" />
    <h3 class="service__title"><%= service.name %></h3>
    <p class="service__description"><%= service.description %></p>
    <a class="service__btn button button_style_outline" href="<%= service.link %>" target="_self">Подробнее</a>
  </li>
  <% }) %>
</ul>
